coreutils
usbutils
lshw

zsh
git
neofetch
sway
swaylock-effects
xorg-xwayland
neovim
ranger
wofi
zathura
firefox
cmus
sioyek

bluez
networkmanager
pipewire
alsa-utils
xdg-desktop-portal-wlr

# Fonts
Bangers
ttf-noto-red
noto-fonts
