/*
 * Tokyonight colorscheme for rofi
 * User: w8ste
 */


// define colors etc.
* {
    bg: #24283b;
    hv: #9274ca; 
    primary: #C5C8C6; 
    ug: #0B2447;
    font: "Monospace 11";
    background-color: @bg;
    //dark: @bg;
    border: 0px;
    kl: #7aa2f7;
    black: #000000;

    transparent: rgba(46,52,64,0);
}

